body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px
}
.orange-color{
    color:orange;
}
.container{
    display: flex;
}
.half-width img{
    width:90%;
}
.half-width{
    padding: 5%;
}
.link-button{
    font-weight:700;
    background-image: linear-gradient(orange, tomato);
    color:#ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
}